@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #f0f0f0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
}

.header-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.header-links li {
  margin-right: 30px;
}

.header-links a {
  text-decoration: none;
  color: black;
  position: relative;
  padding-right: 25px;
}

.header-links img {
  position: absolute;
  top: 19%;
  transform: translateY(-50%);
  right: 0px;
}

.card {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
}