body {
color: rgb(var(--foreground-rgb));
padding: 1rem;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;
}

.header-links {
list-style: none;
padding: 0;
display: flex;
}

.header-links li {
margin-right: 30px;
}

.header-links a {
text-decoration: none;
color: black;
position: relative;
padding-right: 25px;
}

.header-links img {
position: absolute;
top: 19%;
transform: translateY(-50%);
right: 0px;
}  